.profile {
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.6);
  max-width: 250px;
  padding: 10px;
  margin: auto;
  text-align: center;
  font-size: 13px;
}

.profile #user-picture {
  width: 50%;
  border: 3px solid black;
  border-radius: 50%;
}

.social {
  margin: 20px 0;
}

button {
  text-align: center;
  background-color: #379683;
  color: white;
  font-size: 15px;
  width: 100%;
  padding: 20px 40px;
  border-radius: 5px;
  border: none;
  margin-top: 25px;
}

button:hover {
  cursor: pointer;
  background-color: #266b5d;
}

button:active {
  background-color: #379683;
}

#acceptButton, #declineButton {
  width: 80%;
  font-size: 13px;
}

#declineButton {
  margin-top: 5px;
  background-color: #ff5e5b;
}

#declineButton:hover {
  cursor: pointer;
  background-color: #d7385e;
}

.profile div {
  position: relative;
  text-align: center;
  width: auto;
}

.profile #edit-picture {
  position: absolute;
  top: 0;
  right: 50px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #33c9ab;
  border: 3px solid #379683;
  border-radius: 4px;
  padding: 4px;
}

#action h2 {
  margin-bottom: 20px;
  text-align: center;
}

form {
  max-width: 350px;
  margin: 0px auto;
  padding: 30px 20px;
  background: #f4f7f8;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form > label {
  font-weight: bold;
}

input[type="file"] {
  border: none;
  font-size: 16px;
  padding: 15px;
  width: 93%;
  background-color: #e8eeef;
  margin-bottom: 15px;
}